<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/changePassword" method="post">
        <input type="password" placeholder="old password" name="old"/>
        <input type="password" placeholder="new password" name="new"/>
        <input type="password" placeholder="confirm new password" name="conf"/>
        <input type="submit"/>
        <h1><%=passwordStatus%></h1>
    </form>
</body>
</html>