<%- include('partials/header') %>

<div class="container">
  <div class="colo centered">
    <p class="secret-text">Keep Your Stuffs Safe And Active!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your activity?" required>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
      <button type="submit" class="btn btn-dark"><a href="/keeper">Cancel</a></button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
